<?xml version="1.0" encoding="utf-8" ?>
<configuration
  xmlns:set="http://www.sitecore.net/xmlconfig/set/"
  xmlns:role="http://www.sitecore.net/xmlconfig/role/"
  xmlns:patch="http://www.sitecore.net/xmlconfig/">

  <sitecore>
    <pipelines>
      <getRenderingRules>
        <processor type="Uniform.Optimize.Pipelines.GetRenderingRules.ReplaceHideRenderingActions, Uniform.Optimize.Personalization.JssSupport"
                   patch:after="*[@type='Sitecore.Analytics.Pipelines.GetRenderingRules.FromRendering, Sitecore.Analytics']"
                   resolve="true" />
      </getRenderingRules>
      <group groupName="layoutService">
        <pipelines>
          <getLayoutServiceContext>
            <processor type="Uniform.Optimize.Pipelines.GetLayoutServiceContext.AddPersonalizationToContext, Uniform.Optimize.Personalization.JssSupport" 
                       resolve="true" />
          </getLayoutServiceContext>
        </pipelines>
      </group>
    </pipelines>
    <uniform>
      <converters>
        <personalizationNodeConverter
          patch:instead="*[@type='Uniform.Optimize.Model.PersonalizationNodeConverter, Uniform.Optimize.Core']"
          type="Uniform.Optimize.Converters.JssPersonalizationNodeConverter, Uniform.Optimize.Personalization.JssSupport"
          resolve="true">
          <layoutServiceConfigurationName>jss-rendering</layoutServiceConfigurationName>
        </personalizationNodeConverter>
      </converters>
    </uniform>
  </sitecore>
</configuration>
