<configuration xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore role:require="ContentManagement or ContentDelivery or Standalone">
        <pipelines>
            <group groupName="uniform">
                <pipelines>
                    <canvas.expandSscItemModel>
                        <processor desc="expandFields"
                                   type="Uniform.Pipelines.ExpandSscItemModel.ExpandFields, Uniform.Platform.Canvas.SSC" />

                        <processor desc="itemUrl"
                                   type="Uniform.Pipelines.ExpandSscItemModel.ItemUrl, Uniform.Platform.Canvas.SSC" />

                        <processor desc="baseTemplates"
                                   type="Uniform.Pipelines.ExpandSscItemModel.AddBaseTemplatesField, Uniform.Platform.Canvas.SSC"/>

                        <processor desc="statistics"
                                   type="Uniform.Pipelines.ExpandSscItemModel.ItemStatistics, Uniform.Platform.Canvas.SSC" />

                        <processor desc="modelBuilder"
                                   type="Uniform.Pipelines.ExpandSscItemModel.ComponentModelBuilder, Uniform.Platform.Canvas.SSC" />

                        <processor desc="templatesList"
                                   type="Uniform.Pipelines.ExpandSscItemModel.TemplatesList, Uniform.Platform.Canvas.SSC" />
                    </canvas.expandSscItemModel>
                </pipelines>
            </group>
        </pipelines>

        <services>
            <configurator type="Uniform.CanvasSscServiceConfigurator, Uniform.Platform.Canvas.SSC" />
        </services>
    </sitecore>
</configuration>
