<configuration
  xmlns:set="http://www.sitecore.net/xmlconfig/set/"
  xmlns:role="http://www.sitecore.net/xmlconfig/role/"
  xmlns:patch="http://www.sitecore.net/xmlconfig/">

    <sitecore role:require="ContentManagement or ContentDelivery or Standalone">
        <uniform>
            <services>
                <canvasModelBuilderService type="Uniform.Services.CanvasModelBuilderService, Uniform.Platform.Canvas.ModelBuilder">
                    <fieldExpanders hint="raw:RegisterFieldExpander">
                        <expander fieldType="Checkbox" type="Uniform.FieldExpander.CheckboxFieldExpander, Uniform.Platform.Canvas.ModelBuilder" />
                        <expander fieldType="Date" type="Uniform.FieldExpander.DateFieldExpander, Uniform.Platform.Canvas.ModelBuilder" />
                        <expander fieldType="Datetime" type="Uniform.FieldExpander.DateFieldExpander, Uniform.Platform.Canvas.ModelBuilder" />
                        <!-- <expander fieldType="Multi-Line Text" type="Uniform.FieldExpander.FieldRendererExpander, Uniform.Platform.Canvas.ModelBuilder" /> -->
                        <expander fieldType="Rich Text" type="Uniform.FieldExpander.FieldRendererExpander, Uniform.Platform.Canvas.ModelBuilder" />
                        <expander fieldType="Image" type="Uniform.FieldExpander.ImageFieldExpander, Uniform.Platform.Canvas.ModelBuilder" />

                        <expander fieldType="General Link" type="Uniform.FieldExpander.GeneralLinkFieldExpander, Uniform.Platform.Canvas.ModelBuilder" />
                        <expander fieldType="General Link with Search" type="Uniform.FieldExpander.GeneralLinkFieldExpander, Uniform.Platform.Canvas.ModelBuilder" />
                        <expander fieldType="link" type="Uniform.FieldExpander.GeneralLinkFieldExpander, Uniform.Platform.Canvas.ModelBuilder" />
                    </fieldExpanders>

                    <modelBuilders hint="raw:RegisterModelBuilder">
                        <!-- <component componentId="id" type="ModelBuilderType, Assembly"/> -->
                    </modelBuilders>

                </canvasModelBuilderService>
            </services>
        </uniform>
    </sitecore>
</configuration>
