<configuration xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore role:require="ContentManagement or ContentDelivery or Standalone">

        <uniform>
            <services>
                <canvasIntegrationService type="Uniform.Services.CanvasIntegrationService, Uniform.Platform.Canvas" />

                <canvasTemplateService type="Uniform.Services.CanvasTemplateService, Uniform.Platform.Canvas">
                    <ignoredTemplates hint="raw:AddIgnoredTemplatePath">
                        <system path="/sitecore/templates/System/" />
                        <listManager path="/sitecore/templates/List Manager/" />
                        <uniform path="/sitecore/templates/Uniform" />
                    </ignoredTemplates>
                </canvasTemplateService>
                
            </services>
        </uniform>

        <settings>
            
            <!-- UNIFORM - CANVAS - RETRY COUNT
                 Defines the number of times to retry when requesting data from the Canvas platform
                 and getting timeouts or errors.

                 Default value: "1"
            -->
            <setting name="Uniform.Canvas.RetryCount" value="1" />
            
            <!-- UNIFORM - CANVAS - REQUEST TIMEOUT
                 Defines the timeout when requesting data from the Canvas platform.

                 Default value: "00:00:02"
            -->
            <setting name="Uniform.Canvas.RequestTimeout" value="00:00:02" />
        </settings>
    </sitecore>
</configuration>
