<configuration
  xmlns:set="http://www.sitecore.net/xmlconfig/set/"
  xmlns:role="http://www.sitecore.net/xmlconfig/role/"
  xmlns:patch="http://www.sitecore.net/xmlconfig/">

    <sitecore role:require="ContentManagement or ContentDelivery or Standalone">
        <settings>
            <!-- UNIFORM - CANVAS - MIGRATION - ZIP DOWNLOAD - ENABLED
                 Enables the ability to download a zip file with the files 
                 that generated during the serialization process.

                 Default value: true
            -->
            <setting name="Uniform.Canvas.Migration.ZipDownload.Enabled" value="true" />
            
            <!-- UNIFORM - CANVAS - MIGRATION - ZIP DOWNLOAD - ENABLED
                 In the migration pages, the user has the ability to set 
                 the paths where the serialized components/compositions 
                 are created. If the user enables the zip download option
                 and runs the migration process, if the specified folders
                 are not included in this whitelist, an HTTP security 
                 error is thrown.
                 
                 * Multiple paths are specified using | as a separator
                 * Wildcards are supported (e.g. /App_Data/canvas_*)
                 * Wildcards only apply to the level they are configured at (e.g. /App_Data/* will allow /App_Data/level1 but not /Add_Data/level1/level2)
                 
                 Default value: "/App_Data/packages/canvas_components|/App_Data/packages/canvas_compositions"
            -->
            <setting name="Uniform.Canvas.Migration.ZipDownload.AllowedPaths" value="/App_Data/packages/canvas_components|/App_Data/packages/canvas_compositions" />
        </settings>
    </sitecore>
</configuration>
