<configuration xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Uniform.Optimize" description="Uniform.Optimize items.">
          <predicate>
            <include name="Chunks-Uniform-Optimize"     database="core" path="/sitecore/content/Applications/Content Editor/Ribbons/Chunks/Uniform Optimize" />
            <include name="Strips-Uniform-Optimize"     database="core" path="/sitecore/content/Applications/Content Editor/Ribbons/Strips/Uniform/Optimize" />
            <include name="Dictionary-Uniform-Optimize" database="core" path="/sitecore/system/Dictionary/Uniform Optimize" />
            <include name="Module"                      database="master"   path="/sitecore/system/Uniform/Modules/Optimize">
              <exclude childrenOfPath="Personalization/Emitters">
                <except name="Default" includeChildren="false" />
              </exclude>
              <exclude childrenOfPath="Testing/Tests" />
              <exclude childrenOfPath="Tracking/Destinations/Google Analytics/Custom Dimension Mappings" />
              <exclude childrenOfPath="Tracking/Destinations/Google Analytics/Properties" />
              <exclude childrenOfPath="Tracking/Destinations/Google Analytics/Tracking Configurations" />
              <exclude childrenOfPath="Tracking/Destinations/Oracle DMP/Containers" />
              <exclude childrenOfPath="Tracking/Destinations/Oracle DMP/Tracking Configurations" />
              <exclude childrenOfPath="Tracking/Destinations/Sitecore xDB/Tracking Configurations" />
            </include>

            <include name="Rules-Elements-Request"     database="master" path="/sitecore/system/Settings/Rules/Definitions/Elements/Uniform - Request" />
            <include name="Rules-Elements-Device"      database="master" path="/sitecore/system/Settings/Rules/Definitions/Elements/Uniform - Device" />
            <include name="Rules-Elements-Geo"         database="master" path="/sitecore/system/Settings/Rules/Definitions/Elements/Uniform - Geo" />
            <include name="Rules-Elements-Visit"       database="master" path="/sitecore/system/Settings/Rules/Definitions/Elements/Uniform - Visit" />
            <include name="Rules-Elements-OracleDmp"   database="master" path="/sitecore/system/Settings/Rules/Definitions/Elements/Uniform - Oracle DMP" />
            <include name="Rules-Macros-Uniform-Input"        database="master" path="/sitecore/system/Settings/Rules/Definitions/Macros/UniformInput" />
            <include name="Rules-Macros-Uniform-Input-Value"  database="master" path="/sitecore/system/Settings/Rules/Definitions/Macros/UniformInputValue" />
            <include name="Rules-Macros-OracleDmp-Audience"   database="master" path="/sitecore/system/Settings/Rules/Definitions/Macros/OracleDmpAudience">
              <exclude children="true" />
            </include>
            <include name="Rules-Macros-OracleDmp-Campaign"   database="master" path="/sitecore/system/Settings/Rules/Definitions/Macros/OracleDmpCampaign">
              <exclude children="true" />
            </include>
            <include name="Rules-Tags-Uniform"                database="master" path="/sitecore/system/Settings/Rules/Definitions/Tags/Uniform Optimize" />
            <include name="Rules-Definitions"                 database="master" path="/sitecore/system/Settings/Rules/Definitions/Uniform Optimize" />
            <include name="Templates-Optimize"                database="master" path="/sitecore/templates/Uniform Optimize" />
          </predicate>

          <targetDataStore physicalRootPath="$(uniformContentSitecoreSourceFolder)\serialization\Optimize" useDataCache="false" singleInstance="true" />

          <!-- doesn't work with <except children="true" /> -->
          <dataProviderConfiguration enableTransparentSync="false" />

          <syncConfiguration updateLinkDatabase="false" updateSearchIndex="false" />
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>
