<configuration
  xmlns:role="http://www.sitecore.net/xmlconfig/role/"
  xmlns:patch="http://www.sitecore.net/xmlconfig/">

  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Uniform.Optimize.Esi" description="Uniform.Optimize.Esi items." dependencies="Uniform.Optimize">
          <predicate>
            <include name="PageSizeValidator" database="master" path="/sitecore/system/Settings/Validation Rules/Item Rules/Uniform" />
            <include name="Emitters" database="master" path="/sitecore/system/Uniform/Modules/Optimize/Personalization/Emitters">
                <exclude children="true">
                    <except name="Esi" />
                </exclude>
            </include>
          </predicate>

          <targetDataStore physicalRootPath="$(uniformContentSitecoreSourceFolder)\serialization\Optimize.Esi" useDataCache="false" singleInstance="true" />

          <!-- doesn't work with <except children="true" /> -->
          <dataProviderConfiguration enableTransparentSync="false" />

          <syncConfiguration updateLinkDatabase="false" updateSearchIndex="false" />
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>
