<configuration
  xmlns:role="http://www.sitecore.net/xmlconfig/role/"
  xmlns:patch="http://www.sitecore.net/xmlconfig/">

  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Uniform.Content.Sitecore" description="Uniform.Content.Sitecore items.">
            <predicate>
                <include name="Chunks-Uniform-Administration" database="core" path="/sitecore/content/Applications/Content Editor/Ribbons/Chunks/Uniform" />
                <include name="Chunks-Uniform-CDN"            database="core" path="/sitecore/content/Applications/Content Editor/Ribbons/Chunks/Uniform CDN" />
                <include name="Ribbons-Default"               database="core" path="/sitecore/content/Applications/Content Editor/Ribbons/Ribbons/Default/Uniform" />
                <include name="Strips-Uniform"                database="core" path="/sitecore/content/Applications/Content Editor/Ribbons/Strips/Uniform">
                    <exclude children="true">
                        <except name="Administration" />
                        <except name="CDN" />
                    </exclude>
                </include>
                <include name="ContentEditor-Editors"         database="core" path="/sitecore/content/Applications/Content Editor/Editors/Uniform" />

                <include name="Layouts"                    database="master" path="/sitecore/layout/Layouts/Uniform" />
                <include name="Module"                     database="master" path="/sitecore/system/Uniform">
                    <exclude children="true">
                        <except name="SiteConfigurations" includeChildren="false" />
                        <except name="Modules" includeChildren="false" />
                    </exclude>        
                </include>
                <include name="Renderings"                 database="master" path="/sitecore/layout/Renderings/Uniform">
                    <exclude children="true" />
                </include>
                <include name="Templates"                         database="master" path="/sitecore/templates/Uniform" />
            </predicate>

          <targetDataStore physicalRootPath="$(uniformContentSitecoreSourceFolder)\serialization\Deploy" useDataCache="false" singleInstance="true" />

          <!-- doesn't work with <except children="true" /> -->
          <dataProviderConfiguration enableTransparentSync="false" />

          <syncConfiguration updateLinkDatabase="false" updateSearchIndex="false" />
        </configuration>
      <configuration name="Uniform.Deployment.Purge" description="Uniform.Deployment.Purge items." dependencies="Uniform.Content.Sitecore">
            <predicate>
                <include name="Modules-Purge"                     database="master" path="/sitecore/system/Uniform/Modules/Purge" />
            </predicate>

          <targetDataStore physicalRootPath="$(uniformContentSitecoreSourceFolder)\serialization\Deploy" useDataCache="false" singleInstance="true" />

          <!-- doesn't work with <except children="true" /> -->
          <dataProviderConfiguration enableTransparentSync="false" />

          <syncConfiguration updateLinkDatabase="false" updateSearchIndex="false" />
        </configuration>
        <configuration name="Uniform.Logging" description="Uniform.Logging items." dependencies="Uniform.Content.Sitecore">
          <predicate>
            <include name="Module-Logging"             database="master" path="/sitecore/system/Uniform/Modules/Logging" />
          </predicate>

          <targetDataStore physicalRootPath="$(uniformContentSitecoreSourceFolder)\serialization\Deploy" useDataCache="false" singleInstance="true" />

          <!-- doesn't work with <except children="true" /> -->
          <dataProviderConfiguration enableTransparentSync="false" />

          <syncConfiguration updateLinkDatabase="false" updateSearchIndex="false" />
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>
