<?xml version="1.0" encoding="utf-8" ?>
<configuration
  xmlns:set="http://www.sitecore.net/xmlconfig/set/"
  xmlns:env="http://www.sitecore.net/xmlconfig/env/"
  xmlns:patch="http://www.sitecore.net/xmlconfig/">

  <sitecore>
    <services>
      <configurator type="Uniform.Optimize.ServicesConfigurator, Uniform.Optimize.Personalization.Esi.Rules" />
    </services>

    <uniform>
      <personalization>
        <esi>
          <ruleParser>
            <conditions>
              <parser type="Uniform.Optimize.ConditionParsers.Logical.AndConditionParser, Uniform.Optimize.Personalization.Esi.Rules" />
              <parser type="Uniform.Optimize.ConditionParsers.Logical.NotConditionParser, Uniform.Optimize.Personalization.Esi.Rules" />
              <parser type="Uniform.Optimize.ConditionParsers.Logical.OrConditionParser, Uniform.Optimize.Personalization.Esi.Rules" />
              <parser type="Uniform.Optimize.ConditionParsers.Logical.TrueConditionParser, Uniform.Optimize.Personalization.Esi.Rules" />

              <parser type="Uniform.Optimize.ConditionParsers.Request.CookieConditionParser, Uniform.Optimize.Personalization.Esi.Rules" />
              <parser type="Uniform.Optimize.ConditionParsers.Request.HttpHeaderConditionParser, Uniform.Optimize.Personalization.Esi.Rules" />
              <parser type="Uniform.Optimize.ConditionParsers.Request.QueryStringConditionParser, Uniform.Optimize.Personalization.Esi.Rules" />

              <parser type="Uniform.Optimize.ConditionParsers.Visit.GoalWasTriggeredConditionParser, Uniform.Optimize.Personalization.Esi.Rules" />
              
              <parser type="Uniform.Optimize.ConditionParsers.Geo.CityConditionParser, Uniform.Optimize.Personalization.Esi.Rules" />
              <parser type="Uniform.Optimize.ConditionParsers.Geo.CountryCodeConditionParser, Uniform.Optimize.Personalization.Esi.Rules" />
              <parser type="Uniform.Optimize.ConditionParsers.Geo.GeoKeyValueConditionParser, Uniform.Optimize.Personalization.Esi.Rules" />
              <parser type="Uniform.Optimize.ConditionParsers.Geo.RegionCodeConditionParser, Uniform.Optimize.Personalization.Esi.Rules" />
              <parser type="Uniform.Optimize.ConditionParsers.Geo.ZipCodeConditionParser, Uniform.Optimize.Personalization.Esi.Rules"
                      resolve="true" />

              <parser type="Uniform.Optimize.ConditionParsers.Device.BrowserConditionParser, Uniform.Optimize.Personalization.Esi.Rules" />
              <parser type="Uniform.Optimize.ConditionParsers.Device.DeviceBrandConditionParser, Uniform.Optimize.Personalization.Esi.Rules" />
              <parser type="Uniform.Optimize.ConditionParsers.Device.DeviceIsDesktopConditionParser, Uniform.Optimize.Personalization.Esi.Rules" />
              <parser type="Uniform.Optimize.ConditionParsers.Device.DeviceIsMobileConditionParser, Uniform.Optimize.Personalization.Esi.Rules" />
              <parser type="Uniform.Optimize.ConditionParsers.Device.DeviceIsTabletConditionParser, Uniform.Optimize.Personalization.Esi.Rules" />
              <parser type="Uniform.Optimize.ConditionParsers.Device.DeviceOperatingSystemConditionParser, Uniform.Optimize.Personalization.Esi.Rules" />

              <parser type="Uniform.Optimize.ConditionParsersSc.Geo.CountryAnalyticsConditionParser, Uniform.Optimize.Personalization.Esi.Rules" />
              <parser type="Uniform.Optimize.ConditionParsersSc.Geo.CountryContentTestingConditionParser, Uniform.Optimize.Personalization.Esi.Rules" />

              <parser type="Uniform.Optimize.ConditionParsersSc.DateTime.CurrentMonthConditionParser, Uniform.Optimize.Personalization.Esi.Rules" />
              <parser type="Uniform.Optimize.ConditionParsersSc.DateTime.DayOfWeekContentTestingCondition, Uniform.Optimize.Personalization.Esi.Rules" />
              <parser type="Uniform.Optimize.ConditionParsersSc.DateTime.DayOfWeekKernelCondition, Uniform.Optimize.Personalization.Esi.Rules" />
              <parser type="Uniform.Optimize.ConditionParsersSc.DateTime.IsDayOfMonthConditionParser, Uniform.Optimize.Personalization.Esi.Rules" />
              <parser type="Uniform.Optimize.ConditionParsersSc.DateTime.NowConditionParser, Uniform.Optimize.Personalization.Esi.Rules" />

              <parser type="Uniform.Optimize.ConditionParsersSc.Visit.CampaignWasTriggeredDuringPastOrCurrentInteractionConditionParser, Uniform.Optimize.Personalization.Esi.Rules" />
              <parser type="Uniform.Optimize.ConditionParsersSc.Visit.GoalWasTriggeredDuringPastOrCurrentInteractionConditionParser, Uniform.Optimize.Personalization.Esi.Rules" />
              <parser type="Uniform.Optimize.ConditionParsersSc.Visit.HasCampaignAnalyticsConditionParser, Uniform.Optimize.Personalization.Esi.Rules" />
              <parser type="Uniform.Optimize.ConditionParsersSc.Visit.HasCampaignContentTestingConditionParser, Uniform.Optimize.Personalization.Esi.Rules" />
              <parser type="Uniform.Optimize.ConditionParsersSc.Visit.HasGoalConditionParser, Uniform.Optimize.Personalization.Esi.Rules" />
              <parser type="Uniform.Optimize.ConditionParsersSc.Visit.HasPatternConditionParser, Uniform.Optimize.Personalization.Esi.Rules" />
              <parser type="Uniform.Optimize.ConditionParsersSc.Visit.ProfileConditionParser, Uniform.Optimize.Personalization.Esi.Rules" />

              <parser type="Uniform.Optimize.ConditionParsersSc.Visitor.ContactVisitIndexConditionParser, Uniform.Optimize.Personalization.Esi.Rules" />
            
              <parser type="Uniform.Optimize.ConditionParsersSc.Predefined.WhenRuleConditionParser, Uniform.Optimize.Personalization.Esi.Rules" />
            </conditions>
          </ruleParser>
        </esi>
      </personalization>
    </uniform>
  </sitecore>
</configuration>
