<configuration xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore>
    <pipelines>
      <initialize>
        <processor type="Uniform.Optimize.Pipelines.Initialize.AlignUniformCountryCodeConditionWithScVersion, Uniform.Optimize.Personalization.Rules" 
                   role:require="ContentManagement or Standalone" >
          <database>master</database>
          <language>en</language>
        </processor>
      </initialize>
    </pipelines>
    <services>
      <configurator type="Uniform.Optimize.ServicesConfigurator, Uniform.Optimize.Personalization.Rules" />
    </services>
  </sitecore>
</configuration>
