<?xml version="1.0" encoding="utf-8" ?>
<configuration
  xmlns:set="http://www.sitecore.net/xmlconfig/set/"
  xmlns:env="http://www.sitecore.net/xmlconfig/env/"
  xmlns:patch="http://www.sitecore.net/xmlconfig/">

  <sitecore>
    <settings>
      <setting name="Uniform.Optimize.OracleDmp.Client.Enabled" value="false" />
    </settings>
    <uniform>
      <personalization>
        <esi>
          <ruleParser>
            <conditions>
              <parser type="Uniform.Optimize.Rules.ConditionParsers.AudienceMembershipConditionParser, Uniform.Optimize.Personalization.Esi.OracleDmp" />
              <parser type="Uniform.Optimize.Rules.ConditionParsers.CampaignMembershipConditionParser, Uniform.Optimize.Personalization.Esi.OracleDmp" />
            </conditions>
          </ruleParser>
        </esi>
      </personalization>
    </uniform>
  </sitecore>
</configuration>
