<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:env="http://www.sitecore.net/xmlconfig/env/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentManagement">
    <pipelines>
      <initialize>
        <processor type="Uniform.Optimize.Pipelines.Initialize.RefreshAudiences, Uniform.Optimize.Personalization.Esi.OracleDmp">
          <database>master</database>
        </processor>
        <processor type="Uniform.Optimize.Pipelines.Initialize.RefreshCampaigns, Uniform.Optimize.Personalization.Esi.OracleDmp">
          <database>master</database>
        </processor>
      </initialize>
    </pipelines>
    <settings>
      <setting name="Uniform.Optimize.OracleDmp.Api.Endpoint" value="https://services.bluekai.com/Services/WS" />
      <!-- UNIFORM - ORACLE DMP
           These settings are used to interact with Oracle DMP in order to 
           improve the process of configuring personalization rules that
           involve data from Oracle DMP.

           Alternatively, these values can be saved in the following environment variables:
            * UNIFORM_ORACLE_DMP_PARTNER_ID
            * UNIFORM_ORACLE_DMP_USER_KEY
            * UNIFORM_ORACLE_DMP_SECRET_KEY
           (after defining environment variable iisreset is required to reflect the changes)
      -->
      <!--
      <setting name="Uniform.Optimize.OracleDmp.Api.PartnerId" value="" />
      <setting name="Uniform.Optimize.OracleDmp.Api.UserKey" value="" />
      <setting name="Uniform.Optimize.OracleDmp.Api.SecretKey" value="" />
      -->
    </settings>
  </sitecore>
</configuration>
