<configuration xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <uniform>
      
      <!--<converters>
        <personalizationNodeConverter type="Uniform.Optimize.Model.PersonalizationNodeConverter, Uniform.Optimize.Core" />
      </converters>-->

      <!-- <services>
        <pageNodeService>
          <data hint="raw:AddExtender">
            <personalization type="Uniform.Optimize.PageNodeExtenders.PersonalizationPageNodeExtender, Uniform.Optimize.Personalization" />
            <testing type="Uniform.Optimize.PageNodeExtenders.TestingPageNodeExtender, Uniform.Optimize.Personalization" />
          </data>
        </pageNodeService>
      </services> -->
      
    </uniform>
  </sitecore>
</configuration>
