<?xml version="1.0" encoding="utf-8" ?>
<configuration
  xmlns:set="http://www.sitecore.net/xmlconfig/set/"
  xmlns:role="http://www.sitecore.net/xmlconfig/role/"
  xmlns:patch="http://www.sitecore.net/xmlconfig/">

  <sitecore>
    <settings>
      <!--
        UNIFORM: ESI MVC NESTED PERSONALIZATION ENABLED
        
        Sitecore supports the ability for a rendering to
        contain a placeholder. Within that placeholder
        there can be renderings with personalization
        rules assigned.
        
        As Sitecore traverses the tree of renderings,
        when it finds a rendering with personalization
        rules assigned, those personalization rules will
        run. This is the ancestor rendering.
        
        It is possible that there are renderings under 
        the ancestor, and it is possible that there are
        renderings under those renderings. Collectively,
        such renderings are called nested renderings.
        
        This setting determines whether personalization
        rules assigned to the nested renderings are 
        applied.
        
        If true, personalization rules assigned to the
        nested renderings are evaluated.
        
        If false, personalization rules assigned to nested
        renderings are not evaluated. This option is used
        in cases where Uniform is unable to properly handle
        the rules in nested renderings.
        
        NOTE: It is important to note this setting does not
        prevent personalization on ALL nested renderings.
        It only applies to renderings that are nested under 
        a rendering that has personalization rules assigned.
      -->
      <setting name="Uniform.Optimize.Personalization.Esi.Mvc.NestedPersonalizationEnabled" value="true" />
    </settings>

    <uniform>
      <personalization>
        <esi>
          <mvcRuleTreeRenderer type="Uniform.Optimize.RuleTree.MvcRuleTreeRenderer, Uniform.Optimize.Personalization.Esi.Mvc" 
                               resolve="true" 
                               singleInstance="true" />
        </esi>
      </personalization>
    </uniform>
    
    <pipelines>
      <mvc.getRenderer>
        <processor type="Uniform.Optimize.Pipelines.MvcGetRenderer.GetEsiMvcRenderer, Uniform.Optimize.Personalization.Esi.Mvc" 
                   resolve="true">
          <ruleTreeRenderer ref="uniform/personalization/esi/mvcRuleTreeRenderer" />
          <compatibleRenderers hint="list:AddCompatibleRenderer">
            <controller>Sitecore.Mvc.Presentation.ControllerRenderer, Sitecore.Mvc</controller>
            <view>Sitecore.Mvc.Presentation.ViewRenderer, Sitecore.Mvc</view>
            <xslt>Sitecore.Mvc.Presentation.XsltRenderer, Sitecore.Mvc</xslt>
            <content>Sitecore.Mvc.Presentation.ContentRenderer, Sitecore.Mvc</content>
          </compatibleRenderers>
        </processor>
      </mvc.getRenderer>
    </pipelines>
  </sitecore>
</configuration>
