<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:env="http://www.sitecore.net/xmlconfig/env/">
  <sitecore role:require="ContentManagement or Standalone">
    <settings>
      <!--
        UNIFORM: UNSUPPORTED CONDITION COLOR
      
        The background color used to indicate that at least one of 
        the configured personalization conditions is not supported.
            
        The value must be a valid CSS color.
            
        An empty value will disable this feature.
      -->
      <setting name="Uniform.Optimize.Personalization.Esi.Rules.UnsupportedCondition.Color" value="red" />
    </settings>
    <pipelines>
      <renderDeviceEditorRendering>
        <processor type="Uniform.Optimize.Pipelines.RenderDeviceEditorRendering.CheckForUnsupportedConditions, Uniform.Optimize.Personalization.Esi.Rules"
                   patch:before="processor[@type='Sitecore.ContentTesting.Pipelines.RenderDeviceEditorRendering.ComponentTestIndicator, Sitecore.ContentTesting']" />
      </renderDeviceEditorRendering>
      <renderLayoutGridRendering>
        <processor type="Uniform.Optimize.Pipelines.RenderLayoutGridRendering.CheckForUnsupportedConditions, Uniform.Optimize.Personalization.Esi.Rules"
                   patch:before="processor[@type='Sitecore.ContentTesting.Pipelines.RenderLayoutGridRendering.ComponentTestIndicator, Sitecore.ContentTesting']" />
      </renderLayoutGridRendering>
    </pipelines>
  </sitecore>
</configuration>
