<configuration
  xmlns:set="http://www.sitecore.net/xmlconfig/set/"
  xmlns:role="http://www.sitecore.net/xmlconfig/role/"
  xmlns:patch="http://www.sitecore.net/xmlconfig/">

    <sitecore role:require="ContentManagement or ContentDelivery or Standalone">
        <uniform>
            <services>
                <defaultComponentModelBuilderService type="Uniform.Services.ComponentModelBuilderService, Uniform.ComponentModel">
                    <fieldExpanders hint="raw:RegisterFieldExpander">
                        <expander fieldType="Checkbox" type="Uniform.FieldExpander.CheckboxFieldExpander, Uniform.ComponentModel" />
                        <expander fieldType="Date" type="Uniform.FieldExpander.DateFieldExpander, Uniform.ComponentModel" />
                        <expander fieldType="Datetime" type="Uniform.FieldExpander.DateFieldExpander, Uniform.ComponentModel" />
                        <!-- <expander fieldType="Multi-Line Text" type="Uniform.FieldExpander.FieldRendererExpander, Uniform.ComponentModel" /> -->
                        <expander fieldType="Rich Text" type="Uniform.FieldExpander.FieldRendererExpander, Uniform.ComponentModel" />
                        <expander fieldType="Image" type="Uniform.FieldExpander.ImageFieldExpander, Uniform.ComponentModel" />

                        <expander fieldType="General Link" type="Uniform.FieldExpander.GeneralLinkFieldExpander, Uniform.ComponentModel" />
                        <expander fieldType="General Link with Search" type="Uniform.FieldExpander.GeneralLinkFieldExpander, Uniform.ComponentModel" />
                        <expander fieldType="link" type="Uniform.FieldExpander.GeneralLinkFieldExpander, Uniform.ComponentModel" />
                    </fieldExpanders>

                    <modelBuilders hint="raw:RegisterModelBuilder">
                        <!-- <component componentId="id" type="ModelBuilderType, Assembly"/> -->
                    </modelBuilders>

                </defaultComponentModelBuilderService>

                <componentModelBuilderService ref="uniform/services/defaultComponentModelBuilderService" />

                <defaultPageModelService type="Uniform.Services.PageModelService, Uniform.ComponentModel">
                    <param ref="uniform/services/renderingNodeService" desc="renderingNodeService"/>
                </defaultPageModelService>

                <pageModelService ref="uniform/services/defaultPageModelService">
                    <renderings hint="list:RegisterRenderingId">
                        <!--<rendering>{RENDERING-ID}</rendering>-->
                    </renderings>
                </pageModelService>

                <pageNodeService>
                    <data hint="raw:AddExtender">
                        <models type="Uniform.PageNodeExtenders.PageModelNodeExtender, Uniform.ComponentModel" />
                    </data>
                </pageNodeService>

                <dataSourceNodeService set:type="Uniform.Services.FilteredDataSourceNodeService, Uniform.ComponentModel" />
            </services>
        </uniform>
    </sitecore>
</configuration>
