<configuration
  xmlns:set="http://www.sitecore.net/xmlconfig/set/"
  xmlns:role="http://www.sitecore.net/xmlconfig/role/"
  xmlns:patch="http://www.sitecore.net/xmlconfig/">

  <!--
    This file enables a service that uses the xConnect client dlls.
    These dlls are not available on XM CD instances. As a result,
    this file should only be enabled on XP CD instances.
  -->
  <sitecore>
    <settings>
      <setting name="Uniform.Optimize.Controllers.XdbController.Timeout" value="00:00:20" />
    </settings>

    <pipelines>
      <initialize>
        <processor type="Uniform.Optimize.Pipelines.Initialize.InitializeMvcRoutes, Uniform.Optimize.Tracking.SitecoreXdb"
                   patch:before="*[@type='Uniform.Pipelines.Initialize.InitializeMvcRoutes, Uniform.Content.Sitecore']"
                   />
      </initialize>
      <startAnalytics>
        <processor type="Uniform.Optimize.Pipelines.StartAnalytics.CheckDispatchConfiguration, Uniform.Optimize.Tracking.SitecoreXdb"
                   patch:after="*[@type='Sitecore.Analytics.Pipelines.StartAnalytics.CreateTracker, Sitecore.Analytics']" />
      </startAnalytics>
      <group name="uniform" groupName="uniform">
        <pipelines>
          <getTrackerDispatchDestinations>
            <processor type="Uniform.Optimize.Pipelines.GetTrackerDispatchDestinations.GetDestinations, Uniform.Optimize.Tracking.SitecoreXdb" />
          </getTrackerDispatchDestinations>
          <filterTrackingRequest>
            <processor type="Uniform.Optimize.Pipelines.FilterTrackingRequest.CheckSitecoreConfiguration, Uniform.Optimize.Tracking.SitecoreXdb" />
          </filterTrackingRequest>
          <getHistoricalData>
            <processor type="Uniform.Optimize.Pipelines.GetHistoricalData.GetContact, Uniform.Optimize.Tracking.SitecoreXdb" />
            <processor type="Uniform.Optimize.Pipelines.GetHistoricalData.GetInteractionsFromSettings, Uniform.Optimize.Tracking.SitecoreXdb">
              <settings ref="uniform/xdb/activity" />
            </processor>
          </getHistoricalData>
        </pipelines>
      </group>
    </pipelines>
    <uniform>
      <services>
        <historicalDataNodeService type="Uniform.Optimize.Services.HistoricalDataNodeService, Uniform.Optimize.Tracking.SitecoreXdb" singleInstance="true" />
      </services>
      <xdb>
        <activity type="Uniform.Optimize.Filters.HistoricalDataSettings, Uniform.Optimize.Tracking.SitecoreXdb" singleInstance="true" />
      </xdb>
    </uniform>
  </sitecore>
</configuration>
