<configuration
  xmlns:set="http://www.sitecore.net/xmlconfig/set/"
  xmlns:patch="http://www.sitecore.net/xmlconfig/">

  <sitecore>
    <pipelines>
      <group name="uniform" groupName="uniform">
        <pipelines>
          <!-- 
            UNIFORM: getTrackingContext 
            
            This pipeline generates markup that builds the context
            used for tracking and personalization.
          -->
          <getTrackingContextMarkup>
          </getTrackingContextMarkup>
          <getInlineTrackingMarkup>
            <processor type="Uniform.Optimize.Pipelines.GetInlineTrackingMarkup.AddTrackingObject, Uniform.Optimize.Tracking" />
          </getInlineTrackingMarkup>
        </pipelines>
      </group>
    </pipelines>
    
    <!--<uniform>
      <services>
        <pageNodeService>
          <data hint="raw:AddExtender">
            <tracking type="Uniform.Optimize.PageNodeExtenders.TrackingPageNodeExtender, Uniform.Optimize.Tracking" />
          </data>
        </pageNodeService>
      </services>
    </uniform>-->
  </sitecore>
</configuration>
